if SHIELD_CORNEPLUS_LEFT

config ZMK_KEYBOARD_NAME
    default "corneplus"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORNEPLUS_LEFT || SHIELD_CORNEPLUS_RIGHT

config ZMK_SPLIT
    default y

endif